{% extends 'base.html.twig' %}

{% block title %}
    Succès
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Vous êtes enregistrer!</h1>
        <p>Succès ! Merci de vous être inscrit.</p>
        <p>Veuillez vérifier votre messagerie pour activer votre compte.</p>
    </div>

{% endblock %}



