{% extends 'base.html.twig' %}

{% block title %}Show a story{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>{{ story.title }}</h1>
        <p>{{ story.content }}</p>
        <div class="storyPicture">
            {% if story.image.name is defined %}
                <img src="{{ asset('images/')~story.image.name }}" alt="">
            {% endif %}
        </div>
        <p><a href="{{ path('home_story') }}">Retour à la liste des histoires</a></p>
    </div>
{% endblock %}
