:root {
    --main-red-color : rgb(202, 4, 44);
    --main-darkBlue-color : rgb(46, 56, 77);
    --main-lightGrey-color : rgb(140, 152, 169);
    --main-blueOcean-color : rgb(84, 216, 255);
    --main-purple-color : rgb(163, 161, 251);
}

/* BG COLOR */
.bg-dark-blue {
    background-color: var(--main-darkBlue-color);
}

.bg-red {
    background-color: var(--main-red-color);
}

.bg-blue-ocean {
    background-color: var(--main-blueOcean-color);
}

.bg-purple {
    background-color: var(--main-purple-color);
}

.bg--light-grey {
    background-color: var(--main-lightGrey-color);
}

/* TEXT COLOR */
.text-dark-blue {
    color: var(--main-darkBlue-color);
}

.text-red {
    color: var(--main-red-color);
}

.text-blue-ocean {
    color: var(--main-blueOcean-color);
}

.text-purple {
    color: var(--main-purple-color);
}

.text-light-grey {
    color: var(--main-lightGrey-color);
}

.text-white {
    color: #FFF;
}