{% extends 'base.html.twig' %}

{% block title %} BIP{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-md-6">
            <div class="card d-block shadow p-4">
                <h2>Bonjour, comment vous sentez-vous aujourd'hui ?</h2>
                <p class="textSmall">(Votre réponse reste anonyme)</p>
                <p class="mb-5">Mardi 29 décembre 200 -14:41</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin"></i></a><br>
                            <span class="textSmall">Heureux</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-stars"></i></a><br>
                            <span class="textSmall">Agréablement surpris(e)</span>
                        </div>
                    </div>
                    <!-- one -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-wink"></i></a><br>
                            <span class="textSmall">D'humeur joviale</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-angry"></i></a><br>
                            <span class="textSmall">Mécontent(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-sad-tear"></i></a><br>
                            <span class="textSmall">Triste</span>
                        </div>
                    </div>
                    <!-- Two -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-frown"></i></a><br>
                            <span class="textSmall">Déçu(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-beam-sweat"></i></a><br>
                            <span class="textSmall">Confus(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grimace"></i></a><br>
                            Stressé(e)
                        </div>
                    </div>
                    <!-- Tree -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-flushed"></i></a><br>
                            Désagréablement surpris(e)
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><a href="#">Qu'est ce qu'un BIP ?</a></div>
                    <div class="col-md-6">
                        <button class="btn bgDark-blue textWhite btn-block rounded-pill">Valider</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card d-block shadow p-4">
                <h2>Besoin d'un coup de main ? GED peut t'aider !</h2>
                <p class="textSmall mb-5">(Voici la liste des GED ayant du temps disponible à consacrer pour l'entraide)</p>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin"></i></a><br>
                            <span class="textSmall">Heureux</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-stars"></i></a><br>
                            <span class="textSmall">Agréablement surpris(e)</span>
                        </div>
                    </div>
                    <!-- one -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-wink"></i></a><br>
                            <span class="textSmall">D'humeur joviale</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-angry"></i></a><br>
                            <span class="textSmall">Mécontent(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-sad-tear"></i></a><br>
                            <span class="textSmall">Triste</span>
                        </div>
                    </div>
                    <!-- Two -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-frown"></i></a><br>
                            <span class="textSmall">Déçu(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grin-beam-sweat"></i></a><br>
                            <span class="textSmall">Confus(e)</span>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-grimace"></i></a><br>
                            Stressé(e)
                        </div>
                    </div>
                    <!-- Tree -->
                    <div class="col-md-4 mb-3">
                        <div class="emotion text-center">
                            <a href="#"><i class="fas fa-flushed"></i></a><br>
                            Désagréablement surpris(e)
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-md-6"><a href="#">Qu'est ce qu'un BIP ?</a></div>
                    <div class="col-md-6">
                        <button class="btn bgDark-blue textWhite btn-block rounded-pill">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

