{% extends 'base.html.twig' %}

{% block title %}
    Modification du thème
{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Modifiez le thème {{ theme.name }}</h1>
        {% include 'theme/theme_form.html.twig' %}

        <button class="mt-3 btn btn-warning" type="submit">Modifier le theme</button>
        {% include 'theme/btn_hom.html.twig' %}

        {{ form_end(themeForm) }}

    </div>

{% endblock %}



