/* BTN DARK BLUE */
.btn-dark-blue {
    background-color: var(--main-darkBlue-color);
    color: #FFF;
    transition: .4s;
}
.btn-dark-blue:hover {
    background-color: rgb(77, 93, 128);
    color: #FFF;
}

/* BTN WHITE */
.btn-white {
    background-color: #FFF;
    color: var(--main-lightGrey-color);
    transition: .4s;
}
.btn-white:hover {
    background-color: rgb(77, 93, 128);
    color: #FFF;
}

/* BTN RED */
.btn-red {
    background-color: var(--main-red-color);
    color: #FFF;
    transition: .4s;
}
.btn-red:hover {
    background-color: red;
    color: #FFF;
}