a.red-link {
    color: var(--main-red-color);
    text-decoration: none;
    transition: .3s;
}

a.red-link:hover {
    color: red;
}

/* BLUE LINK */
a.blue-link {
    color: var(--main-darkBlue-color);
    text-decoration: none;
    transition: .3s;
}

a.blue-link:hover {
    color: var(--main-red-color);
}