.redLink a {
    color: var(--main-red-color);
    text-decoration: none;
    transition: .3s;
}

.redLink a:hover {
    color: red;
}

/* BLUE LINK */
a.blueLink {
    color: var(--main-darkBlue-color);
    text-decoration: none;
    transition: .3s;
}

a.blueLink:hover {
    color: var(--main-red-color);
}